@import "_colours";

.area {
  font-family: 'nta', Sans-serif;
  font-size: 16px;
  font-weight: 700;
  clear: both;
  background: $fuschia;
  color: white;
  border: dashed $white 1px;
  padding: 1em;
  box-sizing: border-box;
}

/* area styles specific to certain ones */
main.area {
  min-height: 16em;
}


/*  rti demo */

table {
  margin:10px 0 20px;
}

table:not(:last-child) {
  margin-bottom:50px;
}

table th.numeric,
table td.numeric  {
  text-align: right;
}

.highlight {
  color:$light-blue;
  font-style: normal;
}
