{{<examples/rti/rti_layout}}
{{$content}}
<main id="page-container" role="main">

  {{#data}}
  <h1 class="heading-large">Income for {{name}}</h1>
  <div class="grid-row">
    <div class="column-half">
      <h2 class="bold-medium">National Insurance Number: {{nino}}</h2>
    </div>
  </div>
{{#earnings}}
  <div class="grid-row">
    <div class="column-full">
      <h3 class="heading-medium">{{organisation}} ({{#pension}}Pension{{/pension}}{{^pension}}Employment{{/pension}})
      </h3>
      <p>{{fromDate}} - {{toDate}} </p>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th class="numeric" scope="col">Gross</th>
        <th class="numeric" scope="col">Deduction</th>
        <th class="numeric" scope="col">Net</th>
      </tr>
    </thead>
    <tbody>
      {{#payments}}
      <tr>
        <td>{{datePaid}}</td>
        <td class="numeric">{{gross}}</td>
        <td class="numeric">
          {{#deduction}}
            <a class="deductions link" data-date="{{datePaid}}" data-deduction="{{deduction}}" href="#">{{deduction}}</a>
          {{/deduction}}
        </td>
        <td class="numeric">{{net}}</td>
      </tr>
      {{/payments}}
    </tbody>
  </table>
{{/earnings}}
{{/data}}

<div class="modal fade " id="deductions-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal">
          <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
          <h4 class="heading-small" id="popupTitle">Deductions breakdown...</h4>
        </div>
          <div class="modal-body">

          </div>
        </div>
  </div>
</div>


</main>
{{/content}}
{{/examples/rti/rti_layout}}
