{{<examples/rti/rti_layout}}
{{$content}}
<main id="page-container" role="main">
  <h1 class="heading-large">Income</h1>

{{#data}}

  <div class="grid-row">
    <div class="column-third">
      <h2 class="bold-medium">NINO: <em class="highlight">{{nino}}</em></h2>
    </div>
    <div class="column-third">
      <h2 class="bold-medium">Name: <em class="highlight">{{name}}</em></h2>
    </div>
  </div>

  {{^pension}}
  <div class="grid-row">
    <div class="column-third">
      <h3 class="heading-medium">{{companyName}}</h3>
    </div>
    <div class="column-third">
      <h3 class="heading-medium">{{toDate}} - {{fromDate}}</h3>
    </div>
    {{#pension}}
      <div class="column-third">
        <h3 class="heading-medium">Pension</h3>
      </div>
    {{/pension}}
  </div>
  {{/pension}}
  
  {{#pension}}
  <ul class="list-bullet">
    <li>{{companyName}}</li>
    <li>{{toDate}} - {{fromDate}}</li>
    <li>Pension</li>
  </ul>
  {{/pension}}

  <table>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th class="numeric" scope="col">Gross</th>
        <th class="numeric" scope="col">Deduction</th>
        <th class="numeric" scope="col">Net</th>
      </tr>
    </thead>
    <tbody>
      {{#financials}}
      <tr>
        <td>{{DatePaid}}</td>
        <td class="numeric">{{Gross}}</td>
        <td class="numeric">
          {{#Deductions}}
            <a href="#">{{Deductions}}</a>
          {{/Deductions}}
        </td>
        <td class="numeric">{{Net}}</td>
      </tr>
      {{/financials}}
    </tbody>
  </table>

{{/data}}

</main>
{{/content}}
{{/examples/rti/rti_layout}}
