{{<examples/rti/rti_layout}}
{{$content}}
<main id="page-container" role="main">
  <h1 class="heading-large">Income</h1>

  <div class="grid-row">
    <div class="column-third">
      <h2 class="bold-medium">NINO: <em class="highlight">ABC123456C</em></h2>
    </div>
      <div class="column-third">
        <h2 class="bold-medium">Name: Mary Jane Smith</h2>
      </div>
  </div>


  <table>
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th class="numeric" scope="col">Gross</th>
        <th class="numeric" scope="col">Deduction</th>
        <th class="numeric" scope="col">Net</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>01/09/14</td>
        <td class="numeric">80</td>
        <td class="numeric">70</td>
        <td class="numeric">70</td>
      </tr>
      <tr>
        <td>01/09/14</td>
        <td class="numeric">80</td>
        <td class="numeric">70</td>
        <td class="numeric">70</td>
      </tr>
      <tr>
        <td>01/09/14</td>
        <td class="numeric">80</td>
        <td class="numeric">70</td>
        <td class="numeric">70</td>
      </tr>
      <tr>
        <td>01/09/14</td>
        <td class="numeric">80</td>
        <td class="numeric">70</td>
        <td class="numeric">70</td>
      </tr>
      <tr>
        <td>01/09/14</td>
        <td class="numeric">80</td>
        <td class="numeric">70</td>
        <td class="numeric">70</td>
      </tr>
      <tr>
        <td>01/09/14</td>
        <td class="numeric">80</td>
        <td class="numeric">70</td>
        <td class="numeric">70</td>
      </tr>
    </tbody>
  </table>


</main>
{{/content}}
{{/examples/rti/rti_layout}}
