{{<examples/rti/rti_layout}}
{{$content}}
<main id="page-container" role="main">
  <form action="/" method="post" class="form">
    <h1 class="form-title heading-large">Login</h1>

    <div class="form-group">
      <label class="form-label-bold" for="staff-number">Staff Number</label>
      <input type="text" class="form-control" id="staff-number">
    </div>

    <div class="form-group">
      <label class="form-label-bold" for="password">Password</label>
      <p class="form-hint">
        Your password must contain: 6 letters, 2 numbers and be case sensitive.
        <br />
        If you have forgotten your password, please contact: <a href="mailto:help@password.gsi.gov.uk">help@password.gsi.gov.uk.</a>
      </p>
      <input type="password" class="form-control" id="password">
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Login">
    </div>

  </form>
</main>
{{/content}}
{{/examples/rti/rti_layout}}
