{{<examples/rti/rti_layout}}
{{$content}}
<main id="page-container" role="main">

  <form method="post" action="./data" enctype="application/x-www-form-urlencoded" class="form">
    <h1 class="form-title heading-large"></h1>

    <div class="form-group">
      <label class="form-label-bold" for="nino">National Insurance number</label>
      <p class="form-hint text">For example, 'QQ 12 34 56 C'.</p>
      <input type="text" class="form-control" name="nino" id="nino">
    </div>

    <div class="form-group">
      <fieldset>
        <legend>Date range</legend>
        <label class="block-label" for="radio-1">
          <input id="radio-1" type="radio" name="radioGroup" value="3">
          3 Months
        </label>
        <label class="block-label" for="radio-2">
          <input id="radio-2" type="radio" name="radioGroup" value="12">
          1 Year
        </label>
        <label class="block-label" for="radio-3">
          <input id="radio-3" type="radio" name="radioGroup" value="All">
          All Available Data
        </label>
    </fieldset>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>

  </form>
</main>
{{/content}}
{{/examples/rti/rti_layout}}
